---
import Layout from '../layouts/Layout.astro';
import { InputContainer } from '../components/InputContainer.jsx';
---

<Layout title="Newsletter Sign-Up">
	<main class="w-full h-full flex items-center justify-center">
		<InputContainer client:visible />
	</main>
</Layout>
